<a href="https://colab.research.google.com/github/EttaKrinsky/Module12_Etta_Krinsky/blob/main/Module_12_Homework_Lists_1D_and_Nested_v2_With_4_Programming_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 12 Homework — Lists (1D + Nested Lists)

**Instructions**
- Complete each cell below.
- Write clear, readable code.
- Use comments where appropriate.
- Do **not** use global variables.
- Avoid shallow vs deep copy concepts for this assignment.

## Part A — 1D Lists: Creating, Accessing, Updating

### A1. Create a list
Create a list named `favorites` with **5 strings**.

Print:
1. The entire list
2. The first element
3. The last element

In [52]:
# TODO: Write your code here
favorites = ["Purple", "Pasta", "Fall", "Shabbos", "Yerushalayim"]
print(favorites)
print(favorites[0])
print(favorites[-1])

['Purple', 'Pasta', 'Fall', 'Shabbos', 'Yerushalayim']
Purple
Yerushalayim

### A2. Update by index
Replace the **second** element in the list with a new string.
Print the updated list.

In [53]:
# TODO: Write your code here
favorites[1] = "Food"
print(favorites)

['Purple', 'Food', 'Fall', 'Shabbos', 'Yerushalayim']

### A3. Slicing practice
Given:
```python
nums = [10, 20, 30, 40, 50, 60, 70]
```
Print:
1. The first 3 elements
2. The last 3 elements
3. Every other element

In [54]:
nums = [10, 20, 30, 40, 50, 60, 70]
# TODO: slicing practice
print(nums[:3])
print(nums[4:])
print(nums[::2])

[10, 20, 30]
[50, 60, 70]
[10, 30, 50, 70]

## Part B — Looping Through 1D Lists

### B1. Sum accumulator
Using a loop, compute and print the **sum** of:
```python
numbers = [4, 7, 2, 9, 5]
```

In [55]:
numbers = [4, 7, 2, 9, 5]
# TODO: compute and print the sum
sum = 0
for num in numbers:
    print(num)
    sum += num
print(sum)

4
7
2
9
5
27

### B2. Filtering values
Using a loop, build a list called `evens` that contains only the **even numbers**.
Print the list.

In [56]:
numbers = [3, 10, 7, 8, 12, 5]
# TODO: build evens list
evens = []
for num in numbers:
    if num % 2 == 0:
        evens.append(num)
print(evens)

[10, 8, 12]

## Part C — Functions with 1D Lists

### C1. Function that returns a list
Write `double_values(lst)` that returns a **new list** with each value doubled.
Call the function and print the result.

In [57]:
# TODO: Write your function and test it
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def double_values(lst):
    new_list = []
    for num in lst:
        new_list.append(num * 2)
    return new_list
print(double_values(lst))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Part D — Nested Lists: Creating and Looping

### D1. Create a nested list
Create a nested list named `grid` that represents:
```
1 2 3
4 5 6
7 8 9
```

In [58]:
# TODO: Create the nested list
grid = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(grid)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### D2. Loop row by row
Print each row of the grid.

In [59]:
# TODO: Loop row by row
for row in grid:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

### D3. Loop through all values
Using nested loops, print each value.

In [60]:
# TODO: Loop through all values
for row in grid:
  for value in row:
    print(value)

1
2
3
4
5
6
7
8
9

### D4. Row sums
Create a list `row_sums` with the sum of each row.
Print the list.

In [61]:
# TODO: Compute row sums
row_sums = []
for row in grid:
  sum = 0
  for value in row:
    sum += value
  row_sums.append(sum)
print(row_sums)

[6, 15, 24]

## Part E — File I/O with 1D Lists

### E1. Write a list to a file
Create a list of **at least 4 strings**.
Write each item to `items.txt`, one per line.

In [62]:
# TODO: Write list to file
list = ["item1", "item2", "item3", "item4"]
with open("items.txt", "w") as f:
  for item in list:
    f.write(item + "\n")

### E2. Read from a file into a list
Read `items.txt` into a list named `items_from_file`.
Print the list.

In [63]:
# TODO: Read file into list
with open("items.txt", "r") as f:
  items_from_file = f.readlines()
print(items_from_file)

['item1\n', 'item2\n', 'item3\n', 'item4\n']

## Part F — Programming Problems (More Serious)
Complete **at least 4** of the problems below (your instructor may specify which ones to do). These problems are designed to combine lists, loops, functions, and file I/O.

**Rules:**
- Use functions (separation of concerns)
- Do not use global variables
- No shallow/deep copy discussion needed

### F1. Shopping List Manager (1D list + functions) (Suggested)
Write a program that maintains a shopping list (a 1D list of strings).

**Required functions:**
- `add_item(items, item)`
- `remove_item(items, item)` (remove by value if present)
- `print_items(items)` (numbered list)
- `save_items(items, filename)` (one item per line)
- `load_items(filename)` (returns a list)

**Program behavior:**
Provide a simple text menu in a loop:
1) add  2) remove  3) view  4) save  5) load  6) quit
The list should update as the user makes choices.

In [64]:
# TODO: Implement F1 here
def add_items(items, item):
  items.append(item)

def remove_item(items, item):
  items.remove(item)

def print_items(items):
  for i in range(len(items)):
    print(f"{i + 1}. {items[i]}")

def save_items(items, filename):
  with open(filename, "w") as f:
    for item in items:
      f.write(item + "\n")

def load_items(filename):
  with open(filename, "r") as f:
    items = f.readlines()
  return items

items = []
while True:
  print("1) add  2) remove  3) view  4) save  5) load  6) quit")
  choice = input("Enter your choice: ")
  if choice == "1":
    item = input("Enter an item to add: ")
    add_items(items, item)
  elif choice == "2":
    item = input("Enter an item to remove: ")
    remove_item(items, item)
  elif choice == "3":
    print_items(items)
  elif choice == "4":
    filename = input("Enter a filename to save to: ")
    save_items(items, filename)
  elif choice == "5":
    filename = input("Enter a filename to load from: ")
    items = load_items(filename)
  elif choice == "6":
    break
  else:
    print("Please Enter a Valid Choice.")
    choice = input("Enter your choice: ")

1) add  2) remove  3) view  4) save  5) load  6) quit
Enter your choice: 6

### F2. Grade Statistics (1D list of numbers + file input)
You will read a file of grades (one number per line) into a 1D list, then compute statistics.

**Requirements:**
- Read `grades.txt` into a list `grades`
- Compute and print: count, min, max, average
- Create a new list `curved` that adds +5 to each grade (cap at 100)
- Write `curved` to `curved_grades.txt` (one per line)

**If you don't have a `grades.txt` file, create one in code first** (write 8–12 sample grades).

In [72]:
grades = [88, 92, 76, 85, 90, 79, 94, 87, 81, 89]

with open("grades.txt", "w") as file:
    for grade in grades:
        file.write(str(grade) + "\n")

print("grades.txt created with sample grades.")

grades.txt created with sample grades.

In [75]:
from IPython.core import builtin_trap
# TODO: Implement F2 here
# Create grades.txt if it does not exist
grades = [88, 92, 76, 85, 90, 79, 94, 87, 81, 89]

with open("grades.txt", "w") as f:
    for g in grades:
        f.write(str(g) + "\n")

# Read grades from file
with open("grades.txt", "r") as f:
    grades = [int(line.strip()) for line in f if line.strip()]

# Compute statistics
count = len(grades)
minimum = min(grades)
maximum = max(grades)
import builtins
average = builtins.sum(grades) / count

print(f"Count: {count}")
print(f"Min: {minimum}")
print(f"Max: {maximum}")
print(f"Average: {average}")

# Curve grades (+5, max 100)
curved = [min(g + 5, 100) for g in grades]

# Write curved grades to file
with open("curved_grades.txt", "w") as f:
    for g in curved:
        f.write(str(g) + "\n")

Count: 10
Min: 76
Max: 94
Average: 86.1

### F3. Word Cleaner (file → 1D list → processing → file)
Read a text file (e.g., `paragraph.txt`) and build a 1D list of cleaned words.

**Requirements:**
- Read the file as text
- Convert to lowercase
- Remove punctuation characters like `. , ! ? ; :` (you may replace them with spaces)
- Split into words and store in a list `words`
- Build a list `long_words` containing only words with length ≥ 6
- Write `long_words` to `long_words.txt`, one per line

**If you don't have a `paragraph.txt`, create one in code first** (write 2–4 sentences).

In [78]:
# TODO: Implement F3 here
paragraph = "This is a paragraph. It has some words that are longer and some that are shorter."

with open("paragraph.txt", "w") as f:
    f.write(paragraph)

with open("paragraph.txt", "r") as f:
    text = f.read()
    line = text.lower()
    line = line.replace(".", " ")
    line = line.replace(",", " ")
    line = line.replace("!", " ")
    line = line.replace("?", " ")
    line = line.replace(";", " ")
    line = line.replace(":", " ")
    words = line.split()
long_words = [word for word in words if len(word) >= 6]
with open("long_words.txt", "w") as f:
  for word in long_words:
    f.write(word + "\n")
print(long_words)

['paragraph', 'longer', 'shorter']

### F4. Seating Chart (nested list) (2D list + loops + functions)
Create a seating chart using a nested list (list of rows).

**Requirements:**
- Build a 4×5 chart filled with the string `"EMPTY"`
- Write a function `assign_seat(chart, row, col, name)` that places a name
- Write a function `print_chart(chart)` that prints each row neatly
- Assign at least 6 names to different seats
- Count how many seats are still `"EMPTY"` and print that number

**Optional extension:** Write the seating chart to a file (one row per line).

In [85]:
# TODO: Implement F4 here
def assign_seat(chart, row, col, name):
  chart[row][col] = name

def print_chart(chart):
  for row in chart:
    print(" ".join(row))

chart = [["EMPTY" for col in range(4)] for row in range(3)]
assign_seat(chart, 0, 0, "Leah")
assign_seat(chart, 0, 1, "Goldie")
assign_seat(chart, 0, 2, "Rina")
assign_seat(chart, 0, 3, "Hodaya")
assign_seat(chart, 1, 0, "Gitty")
assign_seat(chart, 1, 1, "Shaindy")
assign_seat(chart, 1, 2, "Gaby")
assign_seat(chart, 1, 3, "Avital")
assign_seat(chart, 2, 0, "Chaya")
assign_seat(chart, 2, 1, "Sarah")
assign_seat(chart, 2, 2, "Sophia")
assign_seat(chart, 2, 3, "Rochel")
print_chart(chart)

Leah Goldie Rina Hodaya
Gitty Shaindy Gaby Avital
Chaya Sarah Sophia Rochel